<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SNMPdbEntities" connectionString="metadata=res://*/SnmpSystemModel.csdl|res://*/SnmpSystemModel.ssdl|res://*/SnmpSystemModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;initial catalog=SNMPdb;user id=UsuarioSnmp;password=&quot;p;&amp;Uc$=u{XUWmVO&quot;;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>